body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    background: #00000fe1;
    color: white;
    padding: 3rem;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

section {
    background: white;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1rem;
    background: #333;
    color: white;
}