body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    background: #071b8afb; /* Change this hex code for header color */
    color: white;
    padding: 4rem 1rem;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3rem;
}

main {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    background: white;
    padding: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

h2 {
    border-bottom: 4px solid #333;
    padding-bottom: 0.5rem;
    margin-top: 0;
}

ul {
    list-style: square;
    padding-left: 2rem;
}

footer {
    text-align: center;
    padding: 2rem;
    background: #333;
    color: white;
}